# renv specific
renv/library/
renv/local/
renv/cellar/
renv/python/
renv/staging/
renv/sandbox/

# R specific
.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai

# Data Files
xlsx_source/*
!xlsx_source/.gitkeep

notes_salome.txt